<% unless @active_animals.empty? %>
  <div>
   
    <table>
      <% @active_animals.each do |animal| %>

        <tr>
        <td><img src= <%= animal.photo_url %> class="img-circle" width="50" height="50">
        <%= link_to animal.name, animal%></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>