<div class = "homepage">
      <div class="jumbotron">
        <div id = "ban">
        <h1>Adopt a Friend</h1>
        <p class="lead"> Adopt or find your pet a new home.</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Find your Pet</a></p>
        <p><a class="btn btn-lg btn-info" href="#" role="button">List your Pet</a></p>
        </div>
    </div>
<div class="container-marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/adopt1.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>About</h2>
          <p>Our goal is to increase public awareness of the availability of adoptable pets and for owners to have a secure place to put their animals up for adoption. </p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/adopt3.png"alt="Generic placeholder image" width="140" height="140">
          <h2>Why</h2>
          <p>Help a Pet find their home! Thousands of pets end up being abandoned because owners are unable to find new owners for adoption easily. Owner are easily frustrated since there is method to finding new owners directly. This frustration can often leave animals abandoned on street.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/adopt4.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>How</h2>
          <p>You can either search for animals to adopt by clicking 'Find your Pet' or you can put your pet up for adoption by clicking 'List your Pet'</p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
<br><br>
<div>