

<table>
  <thead>
  </thead>

  <tbody>


    <% current_user.animals.map{|i| i.interests}.each do |interested| %>
    <%interested.each do |interest|%>
    

      <tr>
        <td><%= interest.user.first_name %></td>
        </br>
        <td>is interested in your <td>
        <br>
        <td><%= interest.animal.name %></td>
        <br>


        <td><%= link_to 'Send Email', interest %></td>
        <br>
        <td><%= link_to 'Delete', edit_interest_path(interest) %></td>

      </tr>
    <% end %>
    <% end %>



  </tbody>
</table>


<br>


