

<table class="table table-hover">
  <thead>
  </thead>

  <tbody>


    <% current_user.animals.map{|i| i.interests}.each do |interested| %>
    <%interested.each do |interest|%>
    

      <tr>
       <% unless interest.user.photo_url.nil? %>
         <td> <img src= <%= interest.user.photo_url %> class="img-circle" width="25" height="25"></td>
      <% end %>
         

        <td><%= interest.user.first_name %></td>
   
        <td>is interested in your <td>

        <td><%= interest.animal.name %></td>



       

        <td><%= link_to 'Delete', edit_interest_path(interest) %></td>

      </tr>
    <% end %>
    <% end %>



  </tbody>
</table>


<br>


