
<p>I had previously listed you as a friend; however, I am reminded of the old Klingon proverb:<br /><br />

  &nbsp;&nbsp;QaghmeylIj tIchID, yIyoH <br>
  &nbsp;&nbsp;<em>(Have the courage to admit your mistakes.)</em><br>
</p>

<p>Clearly it was a mistake to make you a friend.  I admit this error in judgment and hereby remove you from my friend list.</p>

<p>Dajonlu'pa' bIHeghjaj*</p>

<p>Klingon Code Warrior</p>

<hr />
<p><em>*May you die before you are captured.</em></p>