.jumbotron{
color:white;
text-align: center;
height: 600px;
background-color: transparent !important;
}

body.home.index{
background: url('/assets/cover.jpg') no-repeat;
background-size: 100% auto;


}

#ban{
	margin-top:100px;
	margin-left:300px;
}


.container-marketing{
	text-align: center;
}

#animalform{
	margin:250px;
	padding:50px;
	margin-top:0px;
	margin-bottom:80px;
	background: white;
	opacity:0.8;

}

.container-fluid {

	height: 80px;
}

body.animals.new{
	background: url('/assets/background2.jpg') no-repeat;
	background-size: 100% auto;
}

body.animals.create{
	background: url('/assets/background.jpg') no-repeat;
	background-size: 100% auto;
}